/*.ncb
/MMLogic.plg
*.swp
/Release/*.htm
/Release/*.res
/Release/*.obj
/Release/*.pch
/Release/*.pdb
/Release/*.idb
/Debug/*.res
/Debug/*.htm
/Debug/*.ilk
/Debug/*.obj
/Debug/*.pch
/Debug/*.pdb
/Debug/*.sbr
/Debug/*.idb


*.tlog
Debug/Logicl32.lastbuildstate
Debug/Logicl32.unsuccessfulbuild
*.log
ipch/mmlogic-34e6f19a/ba6c36a7.ipch
*.chm
Debug/Mmlogic_manifest.rc
*.manifest
MMLogic.opensdf
*.ipch
Debug/Mmlogic.exe
*.bsc